body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
  font-family: Arial, Helvetica, sans-serif;

}

canvas{
  padding: 20px;
  /* border: 1px solid black; */
  width: 80%;

}